.navigation {
    margin-top: 0.25rem;
    width: 100%;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.navigation button {
    margin: 0.25rem;
    width: auto !important;
}
