.e-btn-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-7 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-8 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.e-btn-9 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: $small-device-width) {
    .e-btn-5 {
        text-align: right;
    }

    .e-btn-6 {
        text-align: left;
    }

    .e-btn-7 {
        text-align: right;
    }

    .e-btn-8 {
        text-align: left;
    }

    .e-btn-9 {
        text-align: center;
    }

    .larger {
        .e-btn-1 {
            text-align: right;
        }

        .e-btn-2 {
            text-align: left;
        }

        .e-btn-3 {
            text-align: right;
        }

        .e-btn-4 {
            text-align: left;
        }
    }
}

@media (min-width: $small-device-width) {
    .e-btn-5 {
        text-align: right;
    }

    .e-btn-6 {
        text-align: center;
    }

    .e-btn-7 {
        text-align: left;
    }

    .e-btn-8 {
        text-align: right;
    }

    .e-btn-9 {
        text-align: left;
    }

    .larger {
        .e-btn-1 {
            text-align: right;
        }

        .e-btn-2 {
            text-align: center;
        }

        .e-btn-3 {
            text-align: left;
        }

        .e-btn-4 {
            text-align: center;
        }

        .e-btn-5 {
            text-align: right;
        }

        .e-btn-6 {
            text-align: center;
        }

        .e-btn-7 {
            text-align: left;
        }

        .e-btn-8 {
            text-align: center;
        }
    }
}

@media (min-width: $phone-width) {
    .larger {
        .e-btn-1 {
            text-align: center;
        }

        .e-btn-2 {
            text-align: center;
        }

        .e-btn-3 {
            text-align: center;
        }

        .e-btn-4 {
            text-align: center;
        }

        .e-btn-5 {
            text-align: center;
        }

        .e-btn-6 {
            text-align: center;
        }

        .e-btn-7 {
            text-align: center;
        }

        .e-btn-8 {
            text-align: center;
        }
    }
}

@media (min-width: $tablet-width) {
    .e-btn-5 {
        text-align: center;
    }

    .e-btn-6 {
        text-align: center;
    }

    .e-btn-7 {
        text-align: center;
    }

    .e-btn-8 {
        text-align: center;
    }

    .e-btn-9 {
        text-align: center;
    }

    .larger {
        .e-btn-1 {
            text-align: center;
        }

        .e-btn-2 {
            text-align: center;
        }

        .e-btn-3 {
            text-align: center;
        }

        .e-btn-4 {
            text-align: center;
        }
    }
}
