.spinner {
    height: 10vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
}

.spinner::before {
    animation: 1s linear infinite spinner;
    /* TODO: Replace with color schema of libertas */
    border: solid 3px white;
    border-bottom-color: #8ec5c5;
    border-radius: 50%;
    content: '';
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
